<!-- Page Top
================================================== -->
@@include('./../../template_head.tpl', {"pageID": "dialogs", "pageCategory": "components"})
<!-- BEGIN: Template Content
================================================== -->

<!-- Content Title
================================================== -->
<h1>@@titleDialog</h1>
<p>@@titleDialog are containers for small amounts of secondary content and controls that are displayed on user request, while keeping the rest of the page fully visible.</p>

<!-- Page Nav
================================================== -->
<div class="sg-page-nav">
  <div>
    <h6>Go To:</h6>
    <ul>
      <li>
        <!-- Link here -->
        Click "View Guidelines" to see the different types of dialogs.
      </li>
    </ul>
  </div>
  <div>
    <a href="https://confluence.vendavo.com/x/I4Fu" target="_blank" class="btn btn-primary">View Guidelines</a>
  </div>
</div>
<!-- Notice -->
<div class="alert alert-warning" role="alert">
  <p>
    <i class="fa fa-warning"></i>
    We are using <em>nakupanda/bootstrap3-dialog</em> plugin for dynamic dialogs. Please visit <a href="http://nakupanda.github.io/bootstrap3-dialog/" class="alert-link" target="_blank">bootstrap3-dialog</a>
    to get more information about customizing @@titleDialog.
  </p>
</div>

<!-- Page Content
================================================== -->

<h2>Modal Dialogs</h2>

<p>We are using <code>data-id="trigger-dialog"</code> as the trigger to open a dialog. Modifying the dialog is done in JavaScript and the dialog content can be a separate include page.</p>
<h3>Example Modal Dialog</h3>
<button class="btn btn-default" type="button" data-id="trigger-dialog">Launch a Modal Dialog</button>










<!-- END: Template Content
================================================== -->

<!-- Page Bottom
================================================== -->
@@include('./../../template_foot.tpl')